body{
    margin: 0;
    padding: 0;
    background: url('../image/bkimg.jpg');
    font-family: sans-serif;
    background-size: cover;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .8);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .8);
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputbox{
      position: relative;
}
 .box .inputbox input{
         width: 100%;
         padding: 10px 0;
         letter-spacing: 1px;
         outline: none;
         border: none;
         border-bottom: 1px solid #fff;
         color: #fff;
         margin-bottom: 30px;
         background: transparent;
         font-size: 16px;
}
.box .inputbox label{
          position: absolute;
          left: 0;
          top: 0;
          padding: 10px 0;
          font-size: 16px;
          color: #fff;
          pointer-events: none;
          transition: .5s;
}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
     top: -18px;
     left: 0;
     font-size: 12px;
     color: #03a9f4;
}
.box .sub
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    
}
