body{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
.continer{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.btn{
    height: 38px;
    background: orangered;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
}
header{
    background-color: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid orangered;
}
header a{
       text-decoration: none;
       color: white;
       font-size: 16px;
}
header ul{
    margin : 0;
    padding: 0;
     
}
header li{
     display: inline;
     padding: 0 20px 0 20px;
}

header .branding{
    float: left;
}
header .branding h1{
    margin: 0px;
}
header nav{
    float: right;
    margin-top: 10px;
}
header #highlight, header #current {
    color: orangered;
    font-weight: bold;
}
header a:hover{
    font-weight: bolder;
}
#showcase{
     min-height: 400px;
     background-image: url('../images/backimg.jpg') ;
     color: white;
     text-align: center;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    background: #35424a;
    padding: 15px;
    color: white;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px; 
}
#newsletter input[type= email]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

#boxes{
    margin-top: 20px;
}
#boxes #box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes #box img{
    width: 90px;
}
footer{
    background: orangered;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
#aboutus .left{
    float: left;
    width: 65%;
}
#aboutus .right{
    float: left;
     width: 27%;
     margin-left: 50px;
}
#aboutus .dark  {
    padding: 15px;
    background-color: #35424a;
    color: white;
}
#aboutus .right {
    background-color: #35424a;
    color: white;
    margin-top: 20px;
    padding: 15px;
}
#services .service{
    float: left;
    width: 65%;
}
#services .news1{
    background:#d8d8d8;
    margin-top: 5px;
    padding: 15px;
}
#services .form{
    float: left;
    background: #35424a ;
    width: 25%;
    margin-top: 20px;
    margin-left: 50px;
    padding: 15px;
    color: white;
}
#services #bar{
    padding: 6px;
    width: 250px;
}




 