body{
    margin: 0;
    padding: 0;
}
#bkg{
    background-image: url('../images/coverpic.jpg');
    background-size:cover ;
    width: 100%;
    height: 600px;
    padding-top: 40px;
    
 
}
#bkg-all{
    
  background-image: url('../images/coverpic.jpg');
    background-size:cover ;
    width: 100%;
    padding-top: 40px;
    height: 400px;  
 
}
#h{
    color: black;
    border: 2px dotted white;
    width: 150px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
   
    
}
#nav1  a{
    color: white;
    text-decoration: none;

}
#nav1{
    text-align: center;
    padding: 12px;

}
#con1-nav{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    width: 80%;
    margin: auto;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    margin-top: 30px;
    position: sticky;
    top: 0%;
}
#hf{
    color:white;
    margin-left: 130px;
    margin-top: 30px;
}
#hf p{
     
     word-spacing: 2px;
   
}
#sec1{
    margin-top: 300px;
    height: 500px;
}
#tb1{
      width: 90%;
      margin: auto;
      padding-left: 50px;

}
#con-h{
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;

}
#con2-nav{
   background-color: white;
   color: black;
   width: 72%;
   margin: auto;
   border-radius: 10px;
   padding-top: 50px;
   padding-bottom: 50px;
   
   
}
#con3{
  padding-bottom: 120px;
}
#con3-tb{
  width: 80%;
  margin: auto;
}
#con3-tbd{
  padding-left: 16px;
}
#nav2{
padding-top: 50px;
padding-bottom: 50px;
padding-left: 30px;
padding-right: 30px;
border-right: 1px solid lightgray;
text-align: center;
}
#nav2 a{
   
   text-decoration: none;
   color: black;   
   
}
#tb3{
   
  
   width: 73%;
   margin: auto;
   margin-top: 50px;
   
   
   
   
}
#tb3-bk{
   background-color: white;
   color: black;
   padding: 20px;
   border-radius: 10px;
   
   width: 50%;   
}
#tb3-r{
   margin: 70px;
   
}
#con4{
 background-color:#484848 ;
 padding-bottom: 100px;
}
#con4-tb{
width: 80%;
 margin: auto;
 
 
}
#con4-tbd{
  width: 60%;
  margin: auto;
  padding-top: 100px;
  padding-left:40px ;
     
}
#inp{
  padding: 10px;
  width: 350px;
}
#f1{
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  
}
#con5-tb{
  width: 80%;
  margin: auto;
  padding: 100px 0px;
  
}
#con5-tbd{
  width:50%;
 color: white;
padding-left:40px ;
}
#inp2{
 width: 350px;
 padding: 10px;
 border-radius: 20px;
 border: none;
}
#hf-all{
    color:white;
    margin-bottom: 81px;
    margin-top: 100px;
    text-align: center;
}
#navbar a{
   text-decoration: none;
   color: white;
}
#nav1 a:hover{
  cursor: pointer;
  color: black;
}
