body{
    font-family: Trebuchet MS;
}
.logo{
    float: left;
    width: 120px;
    height:100px;
    margin-left: 190px;
}
.cnt{
    float: left;
    margin-right: 20px;
}
.cnt ul{
    list-style-type: none;
}
.cnt ul li{
    text-decoration: none;
}
.link li{
    display: inline; 
}
.link a{
    text-decoration: none;
}

.link ul{
    padding-top: 40px;
    padding-left: 10px;
    
}
.bar{
    background-color: #9fcfff;
    border-top: 2px solid #62b0ff;
    border-bottom: 2px solid #62b0ff;
    padding: 5px;
    padding-left: 200px;
    margin-top: 10px;
}
.btn{
    background-color: #9fcfff;
    cursor: pointer;
    border: none;
}
.nav{
    position: relative;
    display: inline-block;
}
.btn:hover{
    color: blue;
}
.btncnt{
    display: none;
    position: absolute;
    background: #9fcfff;
    border-left:6px solid #62b0ff ;
    width: 250px;
    z-index: 1;
}
.btncnt a{
    color: black;
    padding: 5px 5px;
    font-size: 13px;
    font-weight :500;
    text-decoration: none;
    display: block;

}

.nav:hover .btncnt{
     display: block;
}
.btncnt a:hover {
    background-color: rgba(0,0,255,0.5);
    color: white;
    cursor: pointer;
}
.slider img{

    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;  
}
.slider{
    box-sizing: border-box;
     width:950px;
      margin : 0 auto;
      display: none;
      transition: 2s ease;
     
}
.circle{
      margin-left:650px ;
     margin-top: 10px;
     margin-bottom: 10px;
     cursor: pointer;
}
.dot{
     display: inline-block;
     border-radius:50% ;
     background-color: rgba(211, 211, 211, 0);
     width: 15px;
     height: 15px;
     text-align: center;
     font-size: 12px;  
     color: darkgray;
     transition: background-color 0.6s ease;
}
.active {
    background-color: #717171;
  }
  .continer1{
      box-sizing: border-box;
      width: 1000px;
      height: auto;
      margin: 0 auto;
      background-color : white;
      padding-top: 10px;
      padding-left: 10px;  
      overflow: hidden;
 }
 .box{
     box-sizing: border-box;
     width: 50%;
     float: left;
 }
 
.box header{
    
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 10px;
    
}
#news1{
    float: left;
    font-size: small;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
}
.continer1 a{
    text-decoration: none;
    color: #000053;
}
#vc{
    float: left;
    padding-left: 15px;
    padding-top: 10px;
   
}
#p{
    float: left;
    width: 55%;
    margin-right: 10px;
}
#img{
    float: left;
    width: 40px;
    height: 200px;
    
}
footer{
    margin: 0;
    background-color: #bfbfff;
    border-top: 6px solid #62b0ff;
}